doctype html
html(ng-app='numerapp' )
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/lib/angular/angular.js")
  body(ng-controller='controller')
    block content